
@{
    ViewBag.Title = "AddTranscation";
    
}
@model Bussiness_Entities.TranscationEnties 
<h2>AddTranscation</h2>
<form method="post">
    <table>
        <tr>
            <td> <label> Enter Account ID </label></td>
            <td> @Html.TextBoxFor(c => c.Accountid, new { @class = "form-control" })</td>
            <td> @Html.ValidationMessageFor(d => d.Accountid) </td>
        </tr>
        <tr>
            <td> <label> Enter Amount </label></td>
            <td> @Html.TextBoxFor(c => c.Balance, new { @class = "form-control" })</td>
            <td> @Html.ValidationMessageFor(c => c.Balance) </td>
        </tr>
        <tr>
            <td> <label>TranscationType</label></td>
            <td>
                @Html.DropDownListFor(c => c.TranscationType, new List<SelectListItem>
                {
                    new SelectListItem{ Text="Withdraw", Value = "Withdraw" },
                    new SelectListItem{ Text="Deposite", Value = "Deposite" }
                }, "Select Type")
            </td>
        </tr>
        <tr>
            <td></td>
            <td> <input type="submit" value="Submit" class="btn-primary" /></td>
        </tr>
    </table>
</form>
@ViewData["a"]

