<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header>
    </header>
    <nav>
        @Html.ActionLink("Home", "Home")
        @Html.ActionLink("About", "About")
        @Html.ActionLink("Register", "Register")
        @Html.ActionLink("Products", "Product")
        @Html.ActionLink("Buy", "Buy")
        @Html.ActionLink("Feedback", "feedback")

        @if (Session["user"] == null)
        {
            @Html.ActionLink("Login", "Login")
        }
        else
        {
            @Html.ActionLink("Logout", "Logout")
        }
    </nav>
    <article>
        <div>
            @RenderBody()
        </div>
    </article>

    <footer>
    </footer>
</body>
</html>
